*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
h1{
    font-family: Praise;
    font-weight: 100;
    font-size: 3rem;
}
header{
    background-color: rgb(126, 126, 126);
    display: flex;
    align-items: center;
}
header h1{
    color: rgb(230, 217, 47);
    margin: 1rem;
}
header ul {
    display: flex;
    padding-left: 40rem;
}
header ul li{
    list-style: none; 
}
header ul li a{
    text-decoration: none;
    color: white;
    padding-left: 2.3rem;
    font-size: 1.5rem;
}
.cars{
    display: flex;
    height: 34.5rem;
}
.cars div{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    background-color: rgb(126, 126, 126);
    color: white;
    height: 17rem;
}
.cars div img{
    height: 10rem;
    padding-bottom: 1rem;
}
footer{
    background-color: rgb(126, 126, 126);
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 50%;
    color: white;
}

